# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/
env/

# Environment files
.env

# IDE
.vscode/
.idea/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Uploads
uploads/*
!uploads/.gitkeep

# OS
.DS_Store
Thumbs.db

reports/*
!reports/.gitkeep